################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevPlays-WinUI3.Core/bin/Debug/netstandard2.0
/DevPlays-WinUI3.Core/obj/Debug/*